{% extends 'base/blank.njk' %}

{% block title %}Isomorphic example{% endblock %}

{% block body %}
    {% set styles = static('./src/app/layout/layout.css') %}

    <header class="{{ styles | values('header') | join(' ') }}">
        {%- block header %}{% endblock %}
    </header>

    <main class="{{ styles | values('main') | join(' ') }}">
        {%- block main %}{% endblock %}
    </main>

    <footer class="{{ styles | values('footer') | join(' ') }}">
        {%- block footer %}{% endblock %}
    </footer>
{% endblock %}
