<html>

<body>
{% markdown %}
## Markdown text

* List item
{% endmarkdown %}

<div>
<h2>File inline render example</h2>

<p>
    <code>nunjucks-markdown</code> requires <code>Environment</code> instance
    to render markdown file. Since we don't have environment access in loader,
    we can achieve same by using <code>raw-loader</code>, and
    <code>static</code> tag.
</p>

{% static 'src/CHANGELOG.md' as changelog %}
{% markdown %}{{ changelog }}{% endmarkdown %}
</div>

</body>

</html>
