{% macro button(text="", type="button", name="") %}
{% static 'src/components/button/button.css' as styles %}

<button
    class="{{ styles | values('button') | join(' ') }}"
    type="{{ type }}"
    name="{{ name }}"
>
    {{ text }}
</button>
{% endmacro %}
