{% extends 'test/fixtures/base.njk' %}
{% import 'test/fixtures/simple-macro.njk' as form %}

{% block content %}
    {{ form.field('user') }}
    {{ form.field('pass', type="password") }}
{% endblock %}
